
.PixelPort{
    font-size: clamp(12px,4vw,32px);
    color:whitesmoke;
 
}

.dropdown-menu{
    background-color: #007BFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
.dropdown-item:hover{
 text-align: right;
 color:black;
 cursor: pointer;
background-color: #0056b3;
}

  

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));


}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:white;
  font-size: 15px;
}


.form-container {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
    width: 100%;
    border-color: blue;
    border-top-color: yellow;
border-bottom-color: yellow;
border-radius: 50px;
}


button {
    padding: 10px;
    background-color: #007BFF;
    color: black;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
    
}



.index-body{
    background-color: black;
}



p {
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}


p {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.navbar {
    position: absolute;
    left: 0;
    width: 100%;
}

.navbar-nav .nav-link[href='#'] {
    color: black;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding: 0 15px;
}

.navbar-nav .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#images-section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  
}

#images-section {
    column-count: 2;
    column-gap: 12px;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

.result-item {
    margin: 10px;
    text-align: center;
}

.result-item img {
    max-width: 100%;
    border-radius: 5px;
}

/* meu card do perfil */
.card{
    align-items: left;
    justify-content: end;
    margin-left: 30%;
margin-right: 30%;
display: flex;
}
.alert{
background-color: azure;
color: rgb(12, 230, 12);
font-size: 20px;
}


.card-title{
color: rgb(12, 230, 12);
font-size: 30px;
text-align: center;
font-style: italic;

}
.card-text{
    color: rgb(12, 230, 12);
    justify-content: right end;
    font-style: italic;
}

.card-body{
    background-color: #007BFF;
}
/* fim do meu card */

/* corpo do perfil */
.myPerfil{
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));
}
/* corpo do perfil */

.container-footerp{
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));
}

.footer .copyright, .footer .credits {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.container-footer {
   background-color: black;
}

.footer .copyright {
    text-align: center;
    color: white;
    padding-left: 10%;
}

.footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: white;
}