
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));


}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:white;
  font-size: 15px;
}


.form-container {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
    width: 100%;
}


button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.dropdown-menu:hover{
    background-color: #007BFF;
    padding: 10px;
    color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: #007BFF;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.index-body{
    background-color: black;
   
}
@keyframes lighting {
    0% {
        transform: rotateX('rotate');
        color: azure;
    }
  
    100% {
        transform: translateX('rotate');
        color: black;
    }
    50%{
        transform-box: lighting 8s initial;
        
    }
}


h1 {
    animation: lighting  5s infinite;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
   
}
h1{
    color: azure;
}
.container {
    flex: 1;
}


p {
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}


p {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.navbar {
    position: absolute;
    left: 0;
    width: 100%;
}

.navbar-nav .nav-link[href='#'] {
    color: black;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding: 0 15px;
}

.navbar-nav .nav-link:hover {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#images-section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;

}


#images-section {
    column-count: 2;
    column-gap: 12px;
}

.search-results {
justify-content: center;
border: 30px;
column-count: 2;

}
.result-item {
    margin: 20px;
    text-align: center;
border: 14px solid  white;

}

.result-item img {
    min-width : 100%;
    border-radius: 5px;
    max-width: 100%;
   

}

.container-footer {
    background-color: black;
}

.footer .copyright {
    text-align: center;
    color: white;
    padding-left: 10%;
}

.footer .credits {
    padding-top: 6px;
    text-align: center;
    font-size: 13px;
    color: white;
}
/* outra pagina do perfil */

.card-container{
    align-items: left;
    justify-content: end;
    margin-left: 30%;
margin-right: 30%;
display: flex;
}
.alert{
background-color: azure;
color: rgb(12, 230, 12);
font-size: 20px;
}


.card-title{
color: rgb(12, 230, 12);
font-size: 30px;
text-align: center;
font-style: italic;

}
.card-text{
    color: rgb(12, 230, 12);
    justify-content: right end;
    font-style: italic;
}

.card-body{
    background-color: #007BFF;
}
.myPerfil{
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));
}
/* corpo do perfil */

.container-footerp{
    background-image: repeating-linear-gradient(80deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(228deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),repeating-linear-gradient(127deg, rgb(14,13,13) 0px, rgb(14,13,13) 10px,transparent 10px, transparent 12px),linear-gradient(90deg, rgb(11,157,246),rgb(14,121,219));
}

.footer .copyright, .footer .credits {
    text-align: center;
    color: white;
    padding: 10px 0;
}
.PixelPort{
 color:azure;
 font-size: larger;
}

.back-galeria{
    background-color: black;
}

#gallery-section {
    background-color: black;
    padding: 40px;
  padding-bottom: 30px;
}

#gallery-section h1 {
    margin-bottom: 20px;
}

.card {
    background-color: #333;
    color: white;
}

.card-img-top {
    border-radius: 5px;
}

.card-body {
    background-color: #444;
    color: white;
   
}

.card-title {
    color: #007BFF;
}

.card-text {
    color: #ccc;
}
/* corpo da cidade */
.body-galeriSave{
    background-color: black;
}

